
@mixin rounded-corners {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
   /* 边框 */
.rounded-corners{
  @include rounded-corners
}


  /* a标签下划线 */
@mixin de-underline {
    color: rgb(255, 105, 105);
    text-decoration:none
  }
  .de-underline {
    @include de-underline;
   }


  /* 上边框 */
  @mixin top-margin {
    margin-top: 30px;
  }
  .top-margin{
    @include top-margin;
   }


  /* li 标签 */
@mixin cancel-li-dot {
    list-style-type:none;
}


  /* 单行文本 */
@mixin ellipsis-line-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

  /* 两行文本 */
@mixin ellipsis-line-2 {
    overflow:hidden;
    text-overflow:ellipsis;
    /*弹性伸缩盒子模型显示*/
    display:-webkit-box;
    /*限制在一个块元素显示的文本的行数*/
    -webkit-line-clamp:2;
    /*设置或检索伸缩盒对象的子元素的排列方式*/
    -webkit-box-orient:vertical;
}

.ellipsis-line-1 {
  @include ellipsis-line-1;
}

// 2行省略号
.ellipsis-line-2 {
  @include ellipsis-line-2;
}







